
{% macro input(name, value='', type='text') -%}
    <input type="{{ type }}" value="{{ value|e }}" name="{{ name }}">
{%- endmacro %}

{% macro link(href, text) -%}
  <a href="{{ href }}">{{ text }}</a>
{%- endmacro %}

{% macro render_contents(contents, title) -%}
    {% for item in contents %}
        {% if item.type == 'card' %}
            {% set card = item %}
            {% include 'card.html'%}
        {% elif item.type == 'link' %}
            {{ link(item.href, item.label) }}
        {% elif item.type == 'menu' %}
            {% set menu = item %}
            {% include 'menu.html' %}
        {% elif item.type == 'link group' %}
            {% set link_group = item %}
            {% include 'link_group.html' %}
        {% elif item.type == 'search' %}
            {% set search = item %}
            {% include 'search.html' %}
        {% elif item.type == 'page switcher' %}
            {% set switcher = item %}
            {% include 'page_switcher.html' %}
        {% else %}
            Unsupported type {{ item.type }}
        {% endif %}
    {% endfor %}
{%- endmacro %}